body {
  font-family: 'Roboto', sans-serif;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.nav_logo {
  max-width: 100px;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.logo2 {
  background:
    linear-gradient(
      rgba(255, 255, 255, .1),
      rgba(255, 255, 255, 1)
    );

  padding: 17px 20px 20px;
}

.carousel-control {
  color: #567338;
}

/* ---  Content Features  --- */

.content1, .content2 {
  padding: 0 15px 0 15px;
}

.content1 {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url('../img/seattle2.jpg') no-repeat;
}

.content2 {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url('../img/nashville2_cropped.jpg');
}

.content1_text, .content2_text, .content3_text {
  color: white;
  margin-top: 65px;
}

.content1_text > strong {
  color: #568938;
}

.content1_text, .content2_text > ul > li {
  margin-bottom: 20px;
  text-shadow: 2px 4px 5px rgba(0, 0, 0, .9);

}

/* ---  /Content Features  --- */


@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .content1_text > strong {
    color: white;
  }

}
